/* Auth container */
#full-form[b-zg1gatpa2c],
.login[b-zg1gatpa2c],
.signup[b-zg1gatpa2c] {
  background-color: aliceblue;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  max-width: 400px;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Layout for form fields  */
.login[b-zg1gatpa2c],
.signup[b-zg1gatpa2c]{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Input fields  */
.login input[b-zg1gatpa2c],
.signup input[b-zg1gatpa2c],
input[b-zg1gatpa2c] {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

 /* Buttons  */
button[b-zg1gatpa2c] {
  padding: 10px;
  font-size: 1rem;
  background-color: #004aad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover[b-zg1gatpa2c] {
  background-color: #003580;
}

 
.whole-div[b-zg1gatpa2c]  {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 10%;
}

.whole-div button[b-zg1gatpa2c] {
  background-color: #666;
  color: white;
}

.toggle-buttons button:hover[b-zg1gatpa2c] {
  background-color: #444;
}

.whole-div button[disabled][b-zg1gatpa2c] {
  background-color: #ccc;
  cursor: not-allowed;
}


.login h2[b-zg1gatpa2c],
.signup h2[b-zg1gatpa2c] {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
