body
{
  background-image: url('/wwwroot/css/pngtree-facade-pharmacy-store-with-a-signboard-picture-image_7734898.png');
}
#full-form,
.login,
.signup {
  background-color: aliceblue;
  border: 2px solid #ddd;

  padding: 1.5rem;
  max-width: 400px;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Layout for form fields  */
.login,
.signup{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Input fields  */
.login input,
.signup input,
input {
  padding: 10px;
  /* border: 1px solid hsl(0, 53%, 30%); */
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

 /* Buttons  */
button {
  padding: 10px;
  font-size: 1rem;
  background-color: #004aad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* button:hover {
  background-color: #003580;
} */

 
.whole-div  {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 1rem;
  margin-top: 10%;
}

.whole-div button {
  background-color: hwb(184 7% 20%);
  color: white;
}





.login h2,
.signup h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
