.medicine-table
{
    border-collapse: collapse;
    margin-left: 25%;
    margin-top: 7rem;
    width: 50%;

}
.medicine-table th,
.medicine-table td
{
    border: 1px solid black;
    padding: 10px;
}
.medicine-table th
{
    background-color: #3d97e5;
}
.medicine-table button
{
    padding: 10px;
    background-color: hsl(240, 38%, 67%);
    border: none;
}
.addbutton
{
      background-color: blue;
      border: none;
}
/* Button Styles */
.addbutton {
    background-color: #4CAF50;
    color: white;
     margin-top: 7rem;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* margin-bottom: 15px; */
    margin-left: 45%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.addbutton:hover {
    background-color: #45a049;
}

/* Table Styles */
.medicine-table {
    /* width: 100%; */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

.medicine-table th,
.medicine-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

.medicine-table th {
    background-color: lab(71.47% -7.21 -44.14);
    font-weight: bold;
}

.medicine-table tr:nth-child(even) {
    background-color: #ebe6e6;
}

.medicine-table tr:hover {
    background-color: #f1f1f1;
}

/* Action Buttons */
.medicine-table button {
    background-color: #8b008b;;
    color: white;
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.medicine-table button:hover {
    background-color: #8b008b;
}

.medicine-table button:last-child {
    background-color: #8b008b;
}
.medicine-table button:last-child:hover {
    background-color: hsl(300, 66%, 47%);
}
h3
{
    text-align: center;
    margin-top: 1%;
}
.box {
    position: fixed; 
    top: 0;
    left: 0;
     width: 100%;
    height: 100%;
    background: #0e0202b3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
   
}